* 
{
	box-sizing: border-box;
}

body 
{
	overflow-x: auto;
	overflow-y: auto;
    background-image: url("./assets/background.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
	background-color: #36393f;
	font-family: "JetBrains Mono", monospace;
    font-size: 20px;
	color: #ffffff;
}

a
{
	color: #ffffff;
    text-decoration: none;
}

.container
{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    gap: 100px;
}

.box
{
    width: 300px;
    height: 375px;
    position: relative;
    border-radius: 3%;
    background: #ccc;
    transition: 0.5s;
    text-align: center;
}

.box:hover
{
    transform: scale(1.05);
}

.title
{
	font-size: 48px;
}

.avatar
{
    position: relative;
    top: 10px;
    width: 275px;
    height: 275px;
    border-radius: 3%;
}

.box_title
{
    position: relative;
    font-size: 32px;
    top: 25px;
}

.box_clone
{
    width: 300px;
    height: 375px;
    top: 20px;
    position: relative;
    border-radius: 3%;
    background: #ccc;
    transition: 0.5s;
}

.box_clone:hover
{
    transform: scale(1.05);
}

.box_clone_title
{
    position: relative;
    font-size: 32px;
}

.box_content
{
    text-decoration: underline;
}

@media screen and (max-width: 750px)
{
	.title
	{
		font-size: 32px;
	}

    .container
    {
        display: block;
    }

    .box_clone
    {
        top: -10px;
    }
}